<div class="pageContainer">
    <h2 class="signUpHeader">My Account</h2>

    <div class="formStandard">
        <div id="regForm" >
          <%= render partial: 'edit_form' %>
          <!-- <button id="toggleCancel">Cancel Membership</button> -->
        </div>

        <div id="cancelForm" style="display: none;">
          <%= render partial: 'cancel_account' %>
          <button id="toggleForm">Nevermind, don't cancel account</button>
        </div>
    </div>
</div>

<script>
  $(document).on('click', '#toggleForm', function(e) {
    $('#cancelForm').css('display', 'none')
    $('#regForm').css('display', 'block')
  })

  $(document).on('click', '#toggleCancel', function(e) {
    $('#regForm').css('display', 'none')
    $('#cancelForm').css('display', 'block')
  })
</script>
