<div class="pageContainer">
  <h2 class="signUpHeader">You are joining the split group<br/>"<%= @group.name %>"</h2>
  <div class="formStandard">
    <div class="signUpProgress">
      <%= image_tag('line.svg', style: "z-index: 100;") %>
      <div class="dotContainer">
        <div class="dot purpleDot"></div>
        <div class="dot pinkDot"></div>
        <div class="dot blueDot"></div>
      </div>
    </div>

    <!-- LET USER INVITE OTHER PEOPLE -->

    <!-- FINISH BUTTON THAT REDIRECTS TO WELCOME PAGE -->
  </div>
</div>
