<div class="pageContainer">
  <h2 class="formHeader">Now let's start a group with other parents from school!</h2>
  <div class="formStandard">
    <div class="signUpProgress">
      <%= image_tag('line.svg', style: "z-index: 100;") %>
      <div class="dotContainer">
        <div class="dot greyDot"></div>
        <div class="dot purpleDot"></div>
        <div class="dot greyDot"></div>
        <div class="dot greyDot"></div>
        <div class="dot greyDot"></div>
      </div>
    </div>
    <%= form_tag({:action => 'create_group_onboard'}) do %>
      <div class="field">
        <h3>Group Name (Example: "Mrs. Brown's third grade class")</h3>
        <%= text_field_tag 'group[name]', '', options={class: "inputStandard"} %>
      </div>
      <div class="actions">
        <%= submit_tag "Continue", class: 'btnPrimary btnPrimaryLarge' %>
      </div>
    <% end %>
  </div>
</div>


<script>
  $('#add_group_user').bind('click', function(e) {
      e.preventDefault();
      var row = $('#new_user_form').clone()
      $('#user_form').append(row.removeAttr("id").toggle())
  });
</script>
