/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require forms
 *= require bootstrap-datepicker
 */

 /* h1, h2, h3, h4, h5, p {
   font: 'Helvetica'
 } */

@import url('https://fonts.googleapis.com/css?family=Cabin');

 /* @font-face {
   font-family: "Cabin";
   src: url('../assets/Cabin.otf');
 } */

 body {
   background-color: #fff;
   color: #333;
   font-family: 'Cabin' sans-serif;
   margin: 0;
 }

 h3 {
   font-family: 'Cabin' sans-serif;
   line-height: 3;
   font-size: 15px;
 }

 .green {
   color: #028500;
 }

 .hidden {
   display: none;
 }

.topNav {
  height: 50px;
  border-bottom: 1px solid black;
  text-align: center;
}

.pageTitle {
  height: 24px;
  font-family: 'Cabin' sans-serif;
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  margin: 20px;
}


.alert {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.alert-success {
  max-width: 381px;
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  background-color: #dff0d8;
  font-family: 'Cabin' sans-serif;
  font-size: 14px;
  color: #3c763d;
  font-weight: 700;
  text-decoration: none solid rgb(60, 118, 61);
}

.alert-error {
  width: 381px;
  padding: 15px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  font-family: 'Cabin' sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none solid rgb(60, 118, 61);
  color: #a94442;
  background-color: #f2dede;
}

.btnPrimary {
  height: 37px;
  width: 80%;
  padding: 6px 20px;
  border-radius: 100px;
  background-color: #a540e4;
  background-size: cover;
  border: none;
  font-family: 'Cabin' sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.darkBtnPrimary {
  height: 47px;
  padding: 6px 10px;
  border-radius: 40px;
  background-color: #320b57;
  background-size: cover;
  font-family: 'Cabin' sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
}

.btnSecondary {
  height: 37px;
  padding: 6px 20px;
  border-radius: 40px;
  border: #a540e4 solid 1px;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  color: #a540e4;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnPrimarySmall {
  width: 80px;
}
.btnPrimaryLarge {
  max-width: 350px;
  height: 45px;
  font-family: 'Cabin', sans-serif;

}
.btnSignUp {
  text-decoration: underline;
  line-height: 1;
  display: inline-block;
  font-weight: 900;
}

.btnSecondaryLarge {
  width: 350px;
  height: 45px;
}

.btnSubmit {
  height: 52px;
  padding: 6px 25px;
}

.btnSecondarySmall {
  width: 80px;
  height: 37px;
  padding: 6px 20px;
  border-radius: 40px;
  border: #a540e4 solid 1px;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  color: #a540e4;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnAlert {
  color: rgb(225, 45, 204);
  border-color: rgb(225, 45, 204);
}


.splitNav {
  margin: auto;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  background-color: #fff;
  background-size: cover;
  max-width: 400px;
  /* box-shadow: 0px 1px 2px rgba(0,0,0,0.2); */
}

.splitNavItem {
  min-width: 25%;
  max-width: 125px;
  height: 19px;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  color: #333333;
  text-decoration: none solid rgb(51, 51, 51);
  text-align: center;
  display: inline-block;
}

.splitNavItem h3 {
  font-weight: 200
}

.selectedSplitNavItem {
  border-bottom: #1c99ce solid 5px;
  padding-bottom: 10px;
}

.availabilityContainer {
  background-color: #f7f7f7;
  min-height: 500px;
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
}

.availableSplitContainer {
  padding: 12px;
  max-width: 378px;
  margin: auto;
}


.splitItem {
  max-width: 378px;
  min-height: 100px;
  border-radius: 15px;
  background-color: #ffffff;
  background-size: cover;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
  margin: auto;
  padding: 5px;
  margin-bottom:15px;
}

.listItemDate {
  margin: 20px 0;
}

.splitItemContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4px;
  align-items: center;
}

.splitItemApprovalBanner {
  background-color:  #333;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 3px;
}

.splitImage {
  height: 70px;
  width: 70px;
  margin-top: 15px;
  border-radius: 100%;
}



.splitItemBtnSection {
  text-align: center;

}
.splitItemBtnSection p {
  width: 115px;
  height: 18px;
  font-family: 'Cabin', sans-serif;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  text-align: center;
}

.bannerBtn {
  width: 100%;
  max-width: 378px;
  margin: auto;
  padding: 20px 0;
  background-color: #320b57;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none solid white;
  text-align: center;
}

#chooseChildrenPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.greyChildBackground {
  background-color: #000000;
  opacity: .5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
}

.popUpContainer {
  background-color: white;
  position: sticky;
  max-width: 350px;
  margin: auto;
  padding: 14px;
  margin-top: 150px;
}

.popUpHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.popUpContent {
  padding: 0 20px;
}
.popUpInstructions {
  padding-bottom: 10px;
}

.checkBoxLabel {
    width: 241px;
    height: 17px;
    font-family: Arial;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 400;
    text-decoration: none solid rgb(77, 77, 77);
    padding-left: 5px;
}

.checkBoxSection {
  display: flex;
  align-items: center;
  padding: 5px;
}

h1.cabinText {
  width: 300px;
  height: 25px;
  font-family: 'Cabin', sans-serif;
  font-size: 21px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
}

#sideMenu {
  background-color: #fff;
  position: absolute;
  width: 50%;
  min-width: 350px;
  height: 100%;
  display: none;
  left: 0;
  left: 0;
}

#hambugerMenu {
  position: fixed;
  color: black;
  left: 0;
  top: 0;
  height: 40px;
  width: 30px;
  padding: 10px;
  cursor: pointer;
}

.creditSection {
  background-color: #333333;
  width: 100%;
}
.creditText {
  font-size: 16px;
  padding: 7px;
  color: white;
  text-align: center;
}

.navMenuHeader {
  display: flex;
  align-items: center;
  margin: 20px;
}

.navMenuText {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
}

.navMenuItem {
  padding: 10px
}

.pageContainer {
  padding: 12px;
  max-width: 378px;
  margin: auto;
}

.welcomePage {
  background-image: image-url('welcome.png');
  background-color: #ebebeb;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //filter: blur(2px);
}
