.FAQContainerClosed {
  width: 384px;
  height: 50px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ebebeb;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-self: center;
}

.FAQContainerClosed  h3{
  width: 300px;
  font-family: Cabin;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  align-self: center;
  display: flex;
}
#content1  {
  padding-top: 10px;
  line-height: 1;
  padding-bottom: 30px;
  width: 300px;
  font-family: Cabin;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  align-self: center;
  display: flex;
}
#content2  {
  padding-top: 10px;
  padding-bottom: 30px;
  width: 300px;
  font-family: Cabin;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  align-self: center;
  display: flex;
  line-height: 1;
}
#content3  {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  font-family: Cabin;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  align-self: center;
  display: flex;
  line-height: 1;
}
#content4  {
  padding-top: 10px;
  line-height: 1;
  padding-bottom: 20px;
  width: 300px;
  font-family: Cabin;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  align-self: center;
  display: flex;
}
#content5  {
  padding-top: 10px;
  line-height: 1;
  padding-bottom: 40px;
  width: 300px;
  font-family: Cabin;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  align-self: center;
  display: flex;
}
#content6  {
  padding-top: 10px;
  line-height: 1;
  padding-bottom: 20px;
  width: 300px;
  font-family: Cabin;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  align-self: center;
  display: flex;
}

.faqArrow {
  height: 20px;
  align-self: center;
}

.hidden {
  display: none;
}

.welcomeImageMobile {
  background-image: image-url('landingMobile.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.welcomeImageDesktop {
  background-image: image-url('landingDesktop.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%;
  position: absolute;
  padding-top: 150px;
}
