.profileImageContainer {
  text-align: center;
}

.profileImage {
  height: 110px;
  width: 110px;
  margin-top: 15px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.profileSection {
  margin: 30px 0;
}

.profileSection h1 {
  font-size: 20px;
  font-weight: 700;
}

.profileChildSection {
  padding: 20px
}

.profileChildSection h2 {
  font-weight: 700
}
