<div id="sideMenu">
  <h1>Side Menu</h1>
  <%= link_to "Home", dashboard_path %>
  <p>Update My Availability</p>
  <p>Splits I'm hosting</p>
  <p>Splits I've booked</p>
  <p>Account</p>
  <%= link_to 'Edit profile', edit_user_registration_path %>
  <p>FAQ</p>
  <p>Terms of Use</p>
  <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
<% else %>

  <p>Credit Balance: 3 hours</p>
</div>
